*.[jJ][pP][gG]
*.[gG][iI][fF]
*.[pP][yY][cC]
*.[dD][uU][mM][pP]
apicode.txt
GraphParser/SegmentsData.dump
Tests/AlexNet tests/classified.txt
.idea
1200downloaded
1100downloaded_vII
Keras tests
GraphParser/ModelImplementations/1_SimpleCNN_3conv_2fc/data/*
GraphParser/ModelImplementations/1_SimpleCNN_3conv_2fc/results/*
GraphParser/ModelImplementations/2_VGG16_no_finetuning/data/*
GraphParser/ModelImplementations/2_VGG16_no_finetuning/results/*
